<app-header></app-header>
<div class="container mx-auto px-4 mt-5">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <!-- To-Do Column -->
        <div
            class="bg-white shadow-xl rounded-lg overflow-hidden border border-gray-200 hover:shadow-2xl transition-shadow duration-300">
            <div class="px-4 py-3 bg-gradient-to-r from-teal-500 to-teal-600">
                <h1 class="text-white text-center font-bold text-2xl uppercase">📝 To-Do List</h1>
            </div>
            <div class="px-4 py-4">
                <button (click)="openModal()"
                    class="w-full bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-2 text-white py-2 px-4 rounded flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    Add Task
                </button>
            </div>
            <ul class="divide-y divide-gray-200 px-4 bg-gray-50" cdkDropList id="todolist" #todolist="cdkDropList"
                [cdkDropListData]="todo" [cdkDropListConnectedTo]="[inprogresslist, completedlist]"
                (cdkDropListDropped)="drop($event)">

                <li *ngIf="todo.length === 0" class="py-4 text-gray-400 text-center">No tasks yet</li>

                @for (item of todo; track item._id) {
                <li class="py-4 bg-white my-2 px-3 rounded-md shadow-sm border-l-4 border-teal-500 text-gray-500 flex justify-between items-center"
                    cdkDrag>
                    <div>
                        <h3 class="font-medium text-gray-800">{{item.title}}</h3>
                        <p class="text-gray-600 mt-1 text-sm">{{item.description}}</p>
                    </div>
                    <div class="flex space-x-2">
                        <!-- Edit Button -->
                        <button (click)="openEditModal(item)" class="text-blue-500 hover:text-blue-700 text-xl">
                            ✏️
                        </button>
                        <!-- Delete Button -->
                        <button (click)="deleteTask(item._id)" class="text-red-500 hover:text-red-700 text-xl">
                            🗑️
                        </button>
                    </div>
                </li>
                }
            </ul>
            <div class="h-4 bg-gray-50"></div>
        </div>
        <!-- In-Progress Column -->
        <div
            class="bg-white shadow-xl rounded-lg overflow-hidden border border-gray-200 hover:shadow-2xl transition-shadow duration-300">
            <div class="px-4 py-3 bg-gradient-to-r from-amber-500 to-amber-600">
                <h1 class="text-white text-center font-bold text-2xl uppercase">🚧 In-Progress</h1>
            </div>
            <div class="h-4 bg-gray-50"></div>

            <ul class="divide-y divide-gray-200 px-4 bg-gray-50 min-h-64" cdkDropList id="inprogresslist"
                #inprogresslist="cdkDropList" [cdkDropListData]="inprogress"
                [cdkDropListConnectedTo]="[todolist, completedlist]" (cdkDropListDropped)="drop($event)">

                <li *ngIf="inprogress.length === 0" class="py-8 text-gray-400 text-center italic">
                    Drag tasks here
                </li>

                @for (item of inprogress; track item._id) {
                <li class="py-4 bg-white my-2 px-3 rounded-md shadow-sm border-l-4 border-amber-500 text-gray-500 flex justify-between items-center"
                    cdkDrag>
                    <div>
                        <h3 class="font-medium text-gray-800">{{item.title}}</h3>
                        <p class="text-gray-600 mt-1 text-sm">{{item.description}}</p>
                    </div>
                    <div class="flex space-x-2">
                        <!-- Edit Button -->
                        <button (click)="openEditModal(item)" class="text-blue-500 hover:text-blue-700 text-xl">
                            ✏️
                        </button>
                        <!-- Delete Button -->
                        <button (click)="deleteTask(item._id)" class="text-red-500 hover:text-red-700 text-xl">
                            🗑️
                        </button>
                    </div>
                </li>
                }
            </ul>
            <div class="h-4 bg-gray-50"></div>
        </div>

        <!-- Completed Column -->
        <div
            class="bg-white shadow-xl rounded-lg overflow-hidden border border-gray-200 hover:shadow-2xl transition-shadow duration-300">
            <div class="px-4 py-3 bg-gradient-to-r from-green-500 to-green-600">
                <h1 class="text-white text-center font-bold text-2xl uppercase">✅ Completed</h1>
            </div>
            <div class="h-4 bg-gray-50"></div>
            <ul class="divide-y divide-gray-200 px-4 bg-gray-50 min-h-64" cdkDropList id="completedlist"
                #completedlist="cdkDropList" [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[inprogresslist, todolist]" (cdkDropListDropped)="drop($event)">

                <li *ngIf="done.length === 0" class="py-8 text-gray-400 text-center italic">Put your completed tasks
                    here</li>

                @for (item of done; track item) {
                <li class="py-4 bg-white my-2 px-3 rounded-md shadow-sm border-l-4 border-green-500 line-through text-gray-500 flex justify-between items-center"
                    cdkDrag>
                    <div>
                        <h3 class="font-medium text-gray-800">{{ item.title }}</h3>
                        <p class="text-gray-600 mt-1 text-sm">{{ item.description }}</p>
                    </div>
                    <!-- Delete Button -->
                    <button (click)="deleteTask(item._id)" class="text-red-500 hover:text-red-700 text-xl">
                        🗑️
                    </button>
                </li>

                }
            </ul>
            <div class="h-4 bg-gray-50"></div>
        </div>
    </div>

    <!-- Modal for Adding Task -->
    <div *ngIf="isModalOpen" class="fixed inset-0 z-50 overflow-y-auto">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div (click)="closeModal()" class="fixed inset-0 transition-opacity" aria-hidden="true">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>

            <div
                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">Add New Task</h3>
                            <div class="mt-2">
                                <div class="mb-4">
                                    <label for="taskTitle"
                                        class="block text-sm font-medium text-gray-700 mb-1">Title</label>
                                    <input [(ngModel)]="newTask.title" id="taskTitle"
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm"
                                        type="text" placeholder="Enter task title">
                                </div>
                                <div class="mb-4">
                                    <label for="taskDescription"
                                        class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                                    <textarea [(ngModel)]="newTask.description" id="taskDescription" rows="3"
                                        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-teal-500 focus:border-teal-500 sm:text-sm"
                                        placeholder="Enter task description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button (click)="addTask()" type="button"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-teal-600 text-base font-medium text-white hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500 sm:ml-3 sm:w-auto sm:text-sm">
                        Add Task
                    </button>
                    <button (click)="closeModal()" type="button"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cancel
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- Modal for Editing Task -->
<div #editModal class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white p-5 rounded-md w-96">
        <h2 class="text-lg font-semibold text-gray-800 mb-3">Edit Task</h2>

        <label class="block text-gray-600 text-sm">Title</label>
        <input type="text" [(ngModel)]="selectedTask.title" class="w-full p-2 border rounded-md mb-2">

        <label class="block text-gray-600 text-sm">Description</label>
        <textarea [(ngModel)]="selectedTask.description" class="w-full p-2 border rounded-md mb-2"></textarea>

        <div class="flex justify-end space-x-2 mt-3">
            <button (click)="closeEditModal()" class="px-3 py-1 bg-gray-400 text-white rounded-md">Cancel</button>
            <button (click)="updateTaskvalues()" class="px-3 py-1 bg-teal-500 text-white rounded-md">Update</button>
        </div>
    </div>
</div>